<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='../static/css/main.css'>
</head>
<body>
  {{ datahead }}
  <div class="container">
    <div class="child">
      <img src="../static/img/country_1.png" width="600">
      <img src="../static/img/sales_profit_1.png" width="600">
      <img src="../static/img/total_1.png" width="600">
      <img src="../static/img/units_sold_0.png" width="600">
      <img src="../static/img/units_sold_1.png" width="600">
      <img src="../static/img/units_sold_2.png" width="600">
      <img src="../static/img/units_sold_3.png" width="600">
      <img src="../static/img/units_sold_4.png" width="600">
      <img src="../static/img/profit_0.png" width="600">
    </div>
  </div>
</body>
</html>